<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.3/dist/tf.min.js"> </script>
    <title>MNSIT-PREDICITON</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    
</head>

<body>
    <!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
   <h1 class="my-4">Tensorflow.js
     
   </h1>
    <div class="row">
     <div class="col-lg-6 portfolio-item">
       <div class="card h-100">
         <a href="mnsit"><img class="card-img-top" src="/images/mnist_plot-800x600.png" alt=""></a>
         <div class="card-body">
           <h4 class="card-title">
             <a href="mnsit">Digit Recognition </a>
           </h4>
           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
             gravida pellentesque urna varius vitae.</p>
         </div>
       </div>
     </div>
     <div class="col-lg-6 portfolio-item">
       <div class="card h-100">
         <a href="object"><img class="card-img-top" src="/images/object_detection.png" alt=""></a>
         <div class="card-body">
           <h4 class="card-title">
             <a href="object">object detection</a>
           </h4>
           <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla
             perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates
             quae, necessitatibus unde temporibus.</p>
         </div>
       </div>
     </div>
    </div>
   <!-- /.row -->
  </div>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
</body>

</html>